@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import "base";
}

@layer components {
  @import "components";
  @import "navigation";
  @import "buttons";
  @import "themetoggler";
}

@layer utilities {
  @import "utilities";
}

.animate-spin {
  animation: spin infinite 5s linear;
}

.loader-spin {
  animation: spin infinite 0.5s linear;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.overflow-y-auto::-webkit-scrollbar {
  width: 2px;
}

.overflow-y-auto::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.overflow-y-auto::-webkit-scrollbar-thumb {
  background-color: #9c9c9c;
  border-radius: 5px;
}

/*Hamburger*/

.visuallyHidden {
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}

.hamburger {
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
}

.hamburger .bar {
  padding: 0;
  width: 30px;
  height: 4px;
  background: #ffffff;
  display: block;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
  position: absolute; 
}

.bar1 {
  top: 0;
}

.bar2,
.bar3 {
  top: 13.5px;
}

.bar3 {
  right: 0;
}

.bar4 {
  bottom: 0;
}

.hamburger_style .bar4 {
  top: 13.5px;
}

.hamburger_style .bar5 {
  bottom: 0px;
}

.hamburger_style .bar {
  transition: all 0.4s ease-in-out, transform 0.4s ease-in-out 0.4s;
}

.hamburger_style .bar2 {
  width: 1px;
  transform: rotate(90deg);
  left: 13.5px;
}

.hamburger_style .bar3 {
  width: 1px;
  left: 13.5px;
  
}

.checkbox:checked + label > .hamburger_style > .bar1{
  top: 13.5px;
  background-color: transparent;
}

.checkbox:checked + label > .hamburger_style > .bar2{
  left: 0px;
  width: 30px;
  transform: rotate(45deg);
}

.checkbox:checked + label > .hamburger_style > .bar3{
  left: 0;
  width: 30px;
  transform: rotate(-45deg);
}

.checkbox:checked + label > .hamburger_style > .bar4{
  background-color: transparent;
}

.checkbox:checked + label > .hamburger_style > .bar5{
  bottom: 13.5px;
  background-color: transparent; 
}